body {
  font-family: "Tilt Neon", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #b3b3b3;
  background: #fff;
}

a {
  transition: .3s all ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  color: #000;
  font-family: "tilt Neon", times, serif;
}


.btn, .form-control {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn:focus, .btn:active, .form-control:focus, .form-control:active {
  outline: none;
}

.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height: 50px;
  border-width: 2px;
}

textarea.form-control {
  height: inherit;
}

.btn {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em;
  border-radius: 0;
}

.btn.btn-primary {
  color: #fff;
  border-width: 2px;
}


.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  border-color: #b8d1ff;
  background: #b8d1ff;
}

.btn.btn-sm {
  font-size: 12px;
}


header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index: 5; */
}


.site-wrap {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

body.offcanvas-open {
  position: relative;
  overflow: hidden;
}

body.offcanvas-open .site-wrap {
  transform: translateX(-220px);
}


.offcanvas-toggle {
  position: fixed;
  z-index: 89;
  right: 20px;
  width: 80px;
  font-family:'Tilt Neon', Times, serif;
  background-color: #356fb6;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #356fb6;
  border-radius: 100px 100px 100px 100px;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  top: 20px;
  color: #ffffff;
}



.offcanvas-toggle:hover {
  color: #000;
  opacity: .7;
}

.offcanvas-toggle.light {
  color: #fff;
}

.offcanvas-toggle.light:hover {
  color: #fff;
  opacity: .7;
}

.offcanvas_menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 110vh;
  margin-right: -240px;
  overflow: scroll;
  z-index: 100;
  width: 240px;
  background: #283149;
  padding: 50px 50px;
}

.offcanvas_menu ul {
  margin: 0;
  padding: 0;
}

.offcanvas_menu ul li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
}

.offcanvas_menu ul li a {
  color: #fff;
  font-size: 18px;
}

.offcanvas_menu ul li a:hover {
  opacity: .5;
}

.offcanvas_menu ul li.active a {
  color: #387bf7;
}

.offcanvas_menu ul.social li {
  display: inline-block;
}

.offcanvas_menu ul.social li a {
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
}

.offcanvas_menu ul.social li a:hover {
  opacity: .5;
}

.offcanvas_menu ul.social li:first-child a {
  padding-left: 0;
}

main, aside {
  width: 100%;
}

@media (min-width: 576px) {
  main, aside {
    width: 50%;
  }
}

aside {
  background-position: center center;
  background-size: cover;
  height: 400px;
  position: relative;
}

@media (min-width: 576px) {
  aside {
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
  }
}

main {
  float: left;
  padding: 7%;
  position: relative;
}

.home-button {
  top: 20px;
  color: #387bf7;
  font-size: 20px;
  position: absolute;
}

@media (min-width: 576px) {
  .home-button {
    display: block;
  }
}

.portafolio-list {
  padding: 0;
  margin: 0;
}

.portafolio-list li {
  padding: 0;
  margin: 0 0 20px 0;
  display: block;
  list-style: none;
  padding: 10px;
  border: 1px solid #e6e6e6;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.portafolio-list li:hover {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.portafolio-list li a {
  display: block;
  position: relative;
}

.portafolio-list li a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #b8d1ff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  visibility: hidden;
  opacity: 0;
}

.portafolio-list li a img {
  max-width: 100%;
}

.portafolio-list li a .text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.portafolio-list li a .text h3 {
  color: #fff;
}

.portafolio-list li a .text span {
  color: #fff;
  opacity: .8;
}

.portafolio-list li a:hover:before {
  visibility: visible;
  opacity: 1;
}

.portafolio-list li a:hover .text {
  opacity: 1;
  visibility: visible;
}

.resume-list {
  padding: 0;
  margin: 0;
}

.resume-list li {
  padding: 0;
  margin: 0 0 30px 0;
  display: block;
  list-style: none;
}

.resume-list li .fecha {
  color: #000;
  opacity: .6;
}

.resume-list li h3 {
  color: #000;
  font-size: 24px;
}

